<h1>Products#new</h1>
<p>Find me in app/views/products/new.html.erb</p>

<%= form_for @product, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
    <%= f.text_field :name %>
    <%= f.text_area :description, size: "60x12" %>
    <%= f.text_field :release_date %>
    <%= f.submit "Create" %>
  <% end %>
